extends layout

block content
  
  #signInModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog.modal-sm
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal')
            span(aria-hidden='true') ×
            span.sr-only Close
          h4#myModalLabel.modal-title Sign In
        .modal-body(id='signInDataForm')
          .input-group
            span.input-group-addon.glyphicon.glyphicon-user
            input.form-control(id='signInEmail', name='email', type='text', placeholder='email')
          br
          .input-group
            span.input-group-addon.glyphicon.glyphicon-user
            input.form-control(id='signInPassword', name='password', type='password', placeholder='password')
        .modal-footer
          button.btn.btn-default.navbar-left(id='signUpBtn' type='button', data-toggle='modal', data-target='#signUpModal') Sign Up!
          button.btn.btn-primary.navbar-right(id='sendDataSignInBtn', type='button') Sign In
          a.navbar-right(href='#') Forgot pwd?

  #signUpModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog.modal-sm
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal')
            span(aria-hidden='true') ×
            span.sr-only Close
          h4#myModalLabel.modal-title Sign Up
        .modal-body(id='signUpDataForm')
          .input-group
            span.input-group-addon.glyphicon.glyphicon-user
            input.form-control(id='signUpUsername', name='username', type='text', placeholder='username')
          br
          .input-group
            span.input-group-addon.glyphicon.glyphicon-user
            input.form-control(id='signUpPassword', name='password', type='password', placeholder='password')
          br
          .input-group
            span.input-group-addon.glyphicon.glyphicon-user
            input.form-control(id='signUpConfirmPassword', name='password2', type='password', placeholder='confirm password')
          br
          .input-group
            span.input-group-addon.glyphicon.glyphicon-envelope
            input.form-control(id='signUpEmail', name='email', type='email', placeholder='email')
        .modal-footer
          button.btn.btn-primary(id='sendDataSignUpBtn', type='button') Sign Up!
   
   nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') LocalAreaChat
        #myNavbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='#') Home
            //li.dropdown
            //  a.dropdown-toggle(data-toggle='dropdown', href='#')
            //    | Page 1
            //    span.caret
            //  ul.dropdown-menu
            //    li
            //      a(href='#') Page 1-1
            //    li
            //      a(href='#') Page 1-2
            //    li
            //      a(href='#') Page 1-3
            li
              a(href='#') Settings
            li
              a(href='#') Themes
          ul.nav.navbar-nav.navbar-right
            //li
              //a( data-toggle='modal', data-target='' )
              //  span.glyphicon.glyphicon-user
              //  | Sign Up
            li
              a( data-toggle='modal', data-target='#signInModal' )
                span.glyphicon.glyphicon-log-in
                | Login
             #chat-box
    .container
      #user-container.container.col-md-3
        h2 Users List
        ul
          li
            h4
              span.label.label-default User1
          li
            h4
              span.label.label-default User2
      #chat-container.container.col-md-6.maxHeigth
        ul
          li
            .bubble2
              span.personName2 bot:
              span.personSay2  Welcome! 
              span.time2.round 
  #text-box 
      .col-xs-6
          .input-group
            input.form-control(id="inputText", type='text', placeholder='Type here...')
            span.input-group-btn
              button.btn.btn-default(id="sendBtn", type='button') Send!
      .col-xs-6
        .container-fluid
          .flip
            .card
              .face.front
                form(role='file-form')
                  .input-group
                    span.input-group-btn
                        span.btn.btn-primary.btn-file
                          | Browse…
                          input(type='file', id='file_input') 
                    input.form-control(type='text', readonly='')
                select.selectpicker(id="user-picker", multiple='', data-size='4', data-selected-text-format="count>3", data-live-search="true")
                button.btn.btn-primary.navbar-btn(id='sendFileBtn', type='button') Send File!
              .face.back
                .well.well-sm.inner(id="file_sender_username")
                span.label.label.info(id="file_sender_id", style="display:none")
                span.label.label.info(id="file_id", style="display:none")
                span.label.label-default Filename:
                span.label.label-info(id="filename")
                br
                span.label.label-default Size: 
                span.label.label-info(id="filesize")
                br
                button.btn.btn-primary.navbar-btn(id='transferAcceptBtn', type='button') Yep!
                button.btn.btn-primary.navbar-btn(id='transferCancelBtn', type='button') No!
                
   
   //nav.navbar-inverse.navbar-fixed-bottom
    //.container-fluid
     //.navbar-header
      //p bla bla bla bla bla

            
                  
    
