doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/bower_components/jquery/dist/jquery.min.js')
		script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
		script(src='/bower_components/bootstrap/js/popover.js')
		script(src="/socket.io/socket.io.js")
		script(src='/javascripts/chat.js')

	body
		block content
